#aa-catg-head-banner {
    display: inline;
    float: left;
    position: relative;
    width: 100%;
    height: 382px;
    background-size: cover;
    background-image: url(../img/about/bg1.jpg);
  }
  
  #aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content h2 {
    font-size: 42px;
    color: #fff;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    margin-top: 81px;
    text-transform: none;
  }
  
  .breadcrumb li a, .breadcrumb li{
    font-size:20px;
  }