*{
    margin: 0;
    padding: 0;
    font-family: "sf-regular", sans-serif;
}
.main{
    width: 100%;
    height: 100%;
}
.main .container{
    width: 90%;
    height: 100%;
    /* background-color: cornflowerblue; */
    margin: auto;
}
.main .container .top_elements{
    width: 100%;
    /* background-color: darkcyan; */
    display: flex;
}
.main .container .top_elements .slide1{
    background-image: url(./slide1.webp);
    width: 130px;
    height: 180px;
    background-position: center;
    background-size: cover;
    border: 3px solid #f5b505;
    margin-right: 20px;
}
.main .container .top_elements .slide2{
    background-image: url(./slide2.webp);
    width: 130px;
    height: 180px;
    background-position: center;
    background-size: cover;
    border: 3px solid #f5b505;
    
}
.main .container .top_elements .slide3{
    background-image: url(./slide3.webp);
    width: 130px;
    height: 180px;
    background-position: center;
    background-size: cover;
    border: 3px solid #f5b505;
   
}
.main .container .top_elements .slide4{
    background-image: url(./slide4.webp);
    width: 130px;
    height: 180px;
    background-position: center;
    background-size: cover;
    border: 3px solid #f5b505;
    
}
.main .container .product_slide{
    width: 60%;
    /* background-color: darkgreen; */
    display: flex;
    margin-right: 20px;
}
.main .container .product_content{
    width: 40%;
    /* background-color: darkgrey; */
}
.main .container .product_content .font_size{
    font-size: 20px;
}

.main .container .bottom_elements{
    width: 87%;
    /* background-color: darkgoldenrod; */
}
.img{
    max-width: 20%;
}
.main .container .top_elements .product_slide .each_product img{
    display: block;
    max-width: 119px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.text_content{
    margin-bottom: 20px;
}
/* chọn màu sắc */
.main .container .top_elements .product_content .color_img_pd .img_each_pd{
    display: flex;
    margin-top: 5px;
    cursor: pointer;

}
.img_color1{
    background-image: url("../img/min1.jpg");
    width: 60px;
    height: 60px;
    background-position: center;
    margin-right: 5px;
    background-size: cover;
    border: 3px solid #f5b505;
}
.img_color2{
    background-image: url("../img/min2.jpg");
    width: 60px;
    height: 60px;
    background-position: center;
    border: 3px solid #d5cece;
    background-size: cover;
}
.sex_pd .male{
    width: 50px;
    height: 50px;
    border: 3px solid #f5b505;
    margin-top: 5px;
    cursor: pointer;
}
.sex_pd .male span{
    display: block;
    text-align: center;
    line-height: 44px;
}
.choose_size{
    display: flex;
    cursor: pointer;
}
.size_pd .choose_size .size_pro{
    width: 50px;
    height: 50px;
    border: 3px solid #d5cece;
    margin-right: 5px;
    text-align: center;
    line-height: 44px;
    margin-top: 5px;
}
.size_pd .choose_size .m_size{
    border: 3px solid #f5b505;
}
/* số lượng */
.number_product_choose .btn_choose_pd  {
    display: flex;
}
.number_product_choose .btn_choose_pd .btn_choose{
    width: 30px;
    height: 30px;
    border: 1px solid #d5cece;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 3px;
    line-height: 30px;
}
.number_product_choose .btn_choose_pd .btn_input{
    margin-top: 5px;
}
.index_number_text input{
    width: 32px;
    height: 30px;
    outline: none;
    border: none;
    text-align: center;
    margin-right: 3px;
    border-bottom: 1px solid #d5cece;
    font-size: 12px;
}
.min_text{
    font-size: 15px;
}
.size_text{
    margin-right: 20px;
}
.size_pd a{
    text-decoration: none;
    color: black;
}
/* nút giỏ hàng */
.btn_add_cart{
    max-width: 240px;
    height: 60px;
    background-color: black;
    color: white;
    margin-top: 50px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    position: relative;
    transition: 0.4s;
}
.btn_add_cart .layer{
    width: 2%;
    height: 100%;
    background-color: #f5b505;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: width ease-in-out 0.3s;
    z-index: 1;
}
.btn_add_cart:hover .layer{
    width: 100%;
}
.btn_add_cart .cart_a{
    position: absolute;
    left: 50px;
    z-index: 5;
}

/* bottom elements */
.bottom_elements{
    margin-left: 140px;
}

.bottom_elements .describe_pd .content_describe_pd{
    /* background-color: palegreen; */
    width: 100%;
    height: 100%;
    font-size: 15px;
    display: none;
}
.title_describe_tittle {
    margin-bottom: 20px;
}
    
.bottom_elements .describe_pd .content_describe_pd .list_describe{
    padding-left: 15px;
}
.bottom_elements .rate_pd .rate_title{
    margin-bottom: 20px;
}
.bottom_elements .form_rate_pd .rate_text{
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid lightgrey;
    padding-left: 10px;
    margin-bottom: 15px;
} 
.bottom_elements .form_rate_pd textarea{
    width: 100%;
    outline: none;
    border: 1px solid lightgrey;
    padding-left: 10px;
}
.rate_pd .subbmit_rate{
    min-width: 27%;
    height: 8%;
    background-color: black;
    color: white;
    margin-top: 20px;
    text-align: center;
    line-height: 60px;
    cursor: pointer; 
    margin-bottom: 30px;
    position: relative;
    transition: 0.3s;

}
.rate_pd .subbmit_rate .sent{
    width: 100%;
    /* position: absolute;
    top: 0px;
    left: 0px; */
    
    z-index: 5; 
}
.rate_pd .subbmit_rate .layer{
    width: 0%;
    height: 100%;
    background-color: #f5b505;
    position: absolute;
    top: 0px;
    left: 0px;
    transition:  width    ease-in-out 0.3s;
    opacity: 0;
}
/* .rate_pd .subbmit_rate:hover .layer{
    width:100%;
    opacity: 1;
    z-index: 1;

} */
.rate_pd .subbmit_rate:hover{
    background-color:  #f5b505;
    transition: 0.3s;
}
.rate_pd .btn_rate{
    max-width: 22%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 57px;
    cursor: pointer;
    position: relative;
    margin-left: 770px;
}
.subbmit_rate{
    max-width: 100%;
    height: 8%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 56px;
    cursor: pointer;
    margin-left: 50px;
}
.btn_rate_form .layer{
    width: 2%;
    height: 100%;
    background-color: #f5b505;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: width ease-in-out 0.3s;
    z-index: 1;
}
.write_rate .write_vote{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 54px;

}
.write_rate:hover .layer{
    width: 100%;
}
.form_rate_pd{
    width: 70%;
    /* background-color: peachpuff; */
}
.form_rate_button{
    width: 100%;
    /* background-color: paleturquoise; */
    display: flex;  
    position: absolute;
    top: 0px;
    left: 0px; 
    display: none;
} 
.btn_rate_form{
    width: 100%;
    height: 55px;
    /* background-color: pink; */
    position: relative;
    display: none;
}
.subbmit_rate{
    float: right;
}
.describe_pd .text_title .arrow{
    transform: rotate(-90deg);
    margin-right: 5px;
}
.arrows{
    transform: rotate(-90deg);
    margin-right: 5px;
}
.form_rateText{
    margin-bottom: 15px;
}
.rate_title .arrow{
    transform: rotate(-90deg);
    margin-right: 5px;
}
.rate_title{
    cursor: pointer;
    font-size: 18px;
   
}