p.note_policy {
    margin: auto;
    font-size: 22px;
    color: gray;
    font-family: sans-serif;
}
img.img_policy {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.col-sm-10.policy_row {
    margin: auto;
}