body {
  font-family: "Oswald", sans-serif !important;
}

.divsecondindex {
  width: 100%;
  height: 528px;
  text-align: center;
}

.divsecondindextitle {
  margin-top: 130px;
}

.divsecondindextitle h3 {
  font-size: 36px;
  line-height: 46px;
  color: #232020;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

.divsecondindextitle p {
  margin-bottom: 1.5rem !important;
  line-height: 1.5;
  font-size: 16px;
  color: #6b778d;
}

.divsiitem {
  position: relative;
  transition: all 0.2s ease-out 0s;
  text-align: center;
}

.divsiitem a {
  font-family: "Lato", sans-serif;
  color: #232222;
  text-decoration: none;
  background-color: transparent;
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: all 0.5s ease;
}

.divsiitem a:hover h3 {
  transform: scaleX(1);
}

.divsiitem img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.divsiitem a h3 {
  position: absolute;
  top: 0%;
  left: 0px;
  margin-top: -47px;
  margin-left: 26px;
  padding: 48px 20px;
  background-color: #232020b5;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transform: scaleX(0);
  transition: all 0.5s ease;
  font-family: "Oswald", sans-serif;
}

.divsiitem a h3:hover {
  color: #ff7315;
}

.divsiitem h4 {
  font-size: 18px;
  line-height: 30px;
  color: #232020;
  display: block;
  font-weight: 600;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  margin-top: 20px;
}

.divsecondindexcontent {
  display: flex;
  width: 88%;
  justify-content: space-between;
  margin: auto;
  margin-top: 93px;
}

.qc1 {
  width: 100%;
  height: 546px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qc1 .qc1ct {
  display: flex;
  width: 83%;
}

.qc1cttitle h3 {
  font-size: 36px;
  line-height: 46px;
  color: #232020;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

.qc1cttitle p {
  line-height: 1.5;
  font-size: 16px;
  color: #6b778d;
  font-family: "Lato", sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

.qc1cttitle {
  width: 46%;
  margin-top: 30px;
}

.qc1ctimg {
  margin-left: 80px;
}

.qc1cttitle a {
  display: inline-block;
  outline: none;
  border: none;
  font-weight: 600;
  padding: 12px 32px;
  font-size: 16px;
  background-color: #232020;
  margin-top: 20px;
  color: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
}

.qc1cttitle a:hover {
  background-color: #ff7315;
}

.qc1ctimg img {
  width: 540px;
  height: 354px;
  border-radius: 5px;
}

.qc2 {
  display: flex;
  width: 100%;
  height: 512px;
}

.qc2 .img {
  height: 100%;
  width: 67%;
  overflow: hidden;
}

.qc2 img {
  width: 100%;
}

.qc2 .qc1cttitle {
  width: 25%;
  margin-left: 20px;
  margin: auto;
}

.maintt h3 {
  font-size: 36px;
  line-height: 46px;
  color: #232020;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

.maintt p {
  margin-bottom: 1.5rem !important;
  line-height: 1.5;
  font-size: 16px;
  color: #6b778d;
}

.maintt {
  margin: auto;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 50px;
}

.aa-products-tab li.active a {
  border-bottom: 1px solid rgb(255 115 43) !important;
}

.aa-products-tab li a:hover,
.aa-products-tab li a:focus {
  border-bottom: 1px solid rgb(255 115 43) !important;
}

.aa-product-catg li .aa-product-title {
  color: #232020;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Lato", sans-serif;
}

.sprice {
  color: #3a3535 !important;
  font-size: 15px !important;
  font-weight: bold !important;
  font-family: "Lato", sans-serif !important;
}

.aa-browse-btn:hover {
  color: #ff7315;
  border-bottom: 2px solid #ff7315;
}

.aa-browse-btn {
  display: inline-block;
  padding: 6px 0px;
  border-bottom: 2px solid #232020;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #232020;
}

.aa-browse-btn span {
  font-size: 37px !important;
  transform: translateX(10px) translateY(4px);
}
