.div-search-qlbl {
  justify-content: space-between;
}

.div-search-qlbl > div {
    display: flex;
  flex-direction: row-reverse;
}

.div-search-qlbl button {
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
  background-color: #232020;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

