body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

.navbar-fixed-header {
  width: 100%;
  height: 93px;
}

.qlblHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.qlblTitle {
  color: #232020;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 0px;
}

.qlblLine {
  width: 100%;
  border-bottom: 1px solid #232020;
  margin-bottom: 50px;
}

p.qlblContentTitle {
  font-size: 15px;
  color: #6b778d;
  font-family: "Lato", sans-serif;
}

#goback {
  width: 200px;
  height: 50px;
  margin-top: 5px;
  color: white;
  background-color: #232020;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
  outline: none;
}

#goback:hover {
  background-color: #ff7315;
}

.form-control {
  background-color: #ffffff;
  color: #232020;
  border: 0;
  border-radius: 5px;
}

.custom-select {
  width: 100%;
  border: none;
  color: #232020;
  height: 50px;
  border-radius: 5px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 15px;
  background: url(../img/arrow-down.png) 98% no-repeat white;
}

.custom-select:focus {
  outline: 0;
}
.custom-select:focus {
  outline: 0;
  border-color: transparent;
  box-shadow: 0 0 20px 2px rgb(255 115 21);
}

.tm-bg-primary-dark {
  background-color: rgb(35, 32, 32);
  border-radius: 5px;
  width: 106%;
  margin: auto;
}

.tm-product-img-dummy {
  max-width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background: rgb(255 255 255);
  border-radius: 5px;
  overflow: hidden;
}

.btn-primary {
  color: #fff;
  background-color: #ff7315;
  border: 2px solid #ff7315;
  font-size: 90%;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 5px 1em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(10 10 10);
  margin-top: 30px !important;
}
.btn-primary:active,
.btn-primary:hover {
  color: #ff7315;
  background-color: white;
  border: 2px solid #ff7315;
}

.layout-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.layout-img > div {
  position: relative;
  width: 28%;
  height: 100px;
  margin: 10px;
  overflow: hidden;
  border-radius: 5px;
}

.layout-img > div img {
  width: 100%;
}

.layout-img > div:hover .removeImg {
  bottom: 10px;
}

.removeImg {
  height: 20px;
  width: 70%;
  left: 15%;
  position: absolute;
  background-color: red;
  cursor: pointer;
  background-color: #ff7315;
  color: white;
  text-align: center;
  border-radius: 20px;
  transition: all 0.5s ease;
  bottom: -50px;
}

.removeImg:hover {
  background-color: #232020;
}

.list-img {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(100, 100%);
  transition: all 0.5s ease;
  position: relative;
}

.list-img img {
  width: 100%;
}

.left-list-img,
.right-list-img {
  border: none;
  border-radius: 50%;
  padding: 5px 15px;
  background-color: #3c3c3c1f;
  border: 1px solid #232020;
  position: absolute;
  z-index: 10;
  color: #232020;
}

.left-list-img:hover,
.right-list-img:hover {
  color: white;
  background-color: #ff7315;
}

.left-list-img {
  left: 5%;
}
.right-list-img {
  right: 5%;
}

.checkboxsize {
  display: flex;
  flex-direction: column;
}

.checkboxsize input {
  background-color: white;
  margin-right:  10px;
  margin-bottom: -5px;
}

.checkboxsize label {
  margin-right: 10px;
}

.checkboxsize input:focus {
  background-color: white;
}

.checkboxsize input:checked {
  background-color: #ff7315;
}
