.containerQLBL {
  width: 100%;
  padding-bottom: 50px;
}

.navbar-fixed-header {
  width: 100%;
  height: 150px;
}

.qlblHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.qlblTitle {
  color: #232020;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 0px;
}

.qlblLine {
  width: 100%;
  border-bottom: 1px solid #232020;
}

p.qlblContentTitle {
  font-size: 15px;
  color: #6b778d;
  font-family: "Lato", sans-serif;
}

#week {
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
  outline: none;
  border: none;
  width: 250px;
  height: 60px;
  border-radius: 5px;
  justify-content: right;
  padding: 0px 20px;
  margin-top: -5px;
  font-size: 15px;
}

.div-search-qlbl {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 80px;
}

.div-search-qlbl label {
  color: #6b778d;
  margin: auto 0;
  margin-right: 20px;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}
.div-search-qlbl input {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
  border: none;
  outline: none;
  border-radius: 5px;
  width: 250px;
  height: 41px;
  padding: 0 20px;
}

.qlbl-content-table {
  font-family: "Lato", sans-serif;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 800px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
}

.qlbl-content-table thead tr {
  background-color: #232020;
  color: #ffffff;
  font-weight: bold;
}

.qlbl-content-table th,
.qlbl-content-table td {
  padding: 15px 15px;
}

.gh th,
.gh td {
  padding: 15px 11px;
}

.qlbl-content-table tbody tr:nth-of-type(even) {
  background-color: #f4f4f4;
}

.qlbl-content-table tbody tr:last-of-type {
  border-bottom: 2px solid #ff7315;
}

.qlbl-content-table tbody tr:hover {
  color: #ff7315;
}

.qlblRemove,
.qlblEdit {
  padding: 10px 12px;
  font-size: 20px;
  margin-left: -5px;
  background-color: #ff7315;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.qlblRemove:hover,
.qlblEdit:hover {
  background-color: #232020;
}

.movepage-next {
  display: flex;
  width: 100%;
  justify-items: center;
  justify-content: space-between;
  margin-top: 40px;
  min-width: 700px;
}

.movepage-next p {
  font-size: 15px;
  color: #6b778d;
  font-family: "Lato", sans-serif;
}

.movepage-next ul {
  display: flex;
  background-color: #232020;
  height: 40px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
  padding: 0px;
  overflow: hidden;
  margin-top: -7px;
}

.movepage-next ul li a {
  color: white;
  padding: 20px 20px;
  cursor: pointer;
}

.movepage-next ul li:hover {
  background-color: #ff7315;
  padding: 20px 0px;
}

.movepage-next li:nth-child(1) a {
  color: #6b778d;
}

.movepage-next li:nth-child(2) a {
  background-color: #ff7315;
}

.movepage-next li:nth-child(1):hover {
  background-color: #232020;
  padding: 20px 0px;
}

.hidden-div-help {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 11;
  transition: all ease 1s;
  transform: scaleY(0);
}

.hidden-div-help-2 {
  background-color: black;
  opacity: 0.7;
  z-index: 12;
  position: fixed;
  width: 100%;
  height: 100%;
}

.hidden-div-help .yes-no-question {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 13;
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  margin-left: -200px;
  margin-top: -75px;
  text-align: center;
  box-shadow: 0 0.5em 1em -0.125em rgb(249 190 151), 0 0 0 1px rgb(255 255 255);
  transform: scaleY(0);
  transition: all 0.5s ease;
}

.hidden-div-help .yes-no-question .lineYesNoQuestion {
  border: 1px solid #ff7315;
  width: 80%;
  margin-left: 10%;
  margin-top: -10px;
}

.hidden-div-help .yes-no-question p {
  margin-top: 30px;
  color: #232020;
  font-size: 18px;
}

.hidden-div-help .yes-no-question div {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: auto;
  margin-top: 25px;
}

.hidden-div-help .yes-no-question span {
  background-color: #232020;
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em 0em rgb(175 175 175), 0 0 0 0.2px rgb(111 111 111);
}

.hidden-div-help .yes-no-question span:hover {
  background-color: #ff7315;
}

#form-information-kh div p:nth-child(1) {
  font-weight: bold;
  width: 200px;
  text-align: left;
}

#form-information-kh div {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
#form-information-kh div:nth-child(10) {
  margin-left: 550px;
  margin-top: -10px;
}

#form-information-kh div p:nth-child(2) {
  color: #6b778d;
}

.form-edit-qlbl {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 13;
  width: 800px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  margin-left: -400px;
  margin-top: -300px;
  text-align: center;
  box-shadow: 0 0.5em 1em -0.125em rgb(249 190 151), 0 0 0 1px rgb(255 255 255);
  transform: scaleY(0);
  transition: all 0.5s ease;
}

.form-edit-qlbl h1 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}

.form-edit-qlbl .editsubmit span {
  box-shadow: 0 0.5em 0.5em 0em rgb(175 175 175), 0 0 0 0.2px rgb(111 111 111);
  padding: 14px 50px;
  margin-left: 20px;
  color: white;
  background-color: #232020;
  cursor: pointer;
  display: inline-block;
}

.form-edit-qlbl .editsubmit {
  margin-left: 348px;
  margin-top: -5px;
}

.form-edit-qlbl input[type="checkbox"] {
  width: 20px;
  border-radius: 50%;
  padding: 10px 15px;
}

.form-edit-qlbl div:nth-child(9) {
  margin-left: -450px;
}
.form-edit-qlbl div:nth-child(9) input {
  transform: translateY(15px);
  background-color: #ff7315;
}

.form-edit-qlbl div:nth-child(9) input:hover {
  background-color: #232020;
}

.form-edit-qlbl .editsubmit span:hover {
  background-color: #ff7315;
}

.form-edit-qlbl label {
  font-weight: bold;
  width: 160px;
  text-align: left;
  margin-top: 25px;
}

.form-edit-qlbl input {
  margin-top: -13px;
  border: none;
  outline: none;
  box-shadow: 0 0.5em 1em -0.125em rgb(39 39 39), 0 0 0 1px rgb(255 255 255);
  padding: 10px 20px;
  border-radius: 5px;
  width: 500px;
}

.line {
  border: 1px solid #ff7315;
  width: 100%;
  margin: auto;
}

.title {
  margin-bottom: 30px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: -27px;
  text-align: center;
  margin-top: 50px;
}

.qlblRemove:hover,
.qlblEdit:hover,
.qlblEditt:hover {
  background-color: #232020;
}
.qlblEditt {
  padding: 10px 17px;
  font-size: 20px;
  margin-left: -5px;
  background-color: #ff7315;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

table img {
  width: 80px;
  height: 100px;
}

.bar-qlkh {
  display: flex;
  justify-content: center;
  transform: translateY(2px);
}

.bar-qlkh p {
  padding: 10px 10px;
  cursor: pointer;
}

.bar-value1 {
  border-top-left-radius: 10px;
  border: 2px solid #ff7315;
  border-bottom: none;
  background-color: white;
}

.bar-value2 {
  background-color: #232020;
  color: white;
  border: 2px solid #232020;
  border-bottom: none;
}
.bar-value3 {
  border-top-right-radius: 10px;
  background-color: #232020;
  color: white;
  border: 2px solid #232020;
  border-bottom: none;
}

.bar-value2:hover {
  border: 2px solid #ff7315 !important;
  color: #232020 !important;
  border-bottom: none !important;
  background-color: white !important;
}

.bar-value1:hover {
  border: 2px solid #ff7315 !important;
  color: #232020 !important;
  border-bottom: none !important;
  background-color: white !important;
}

.bar-value3:hover {
  border: 2px solid #ff7315 !important;
  color: #232020 !important;
  border-bottom: none !important;
  background-color: white !important;
}

.mainQl {
  /* position: relative; */
}

.ql1 {
  /* position: relative; */
}

.ql2 {
  display: none;
}

.ql3 {
  display: none;
}

.buttonAddQLKH {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
  cursor: pointer;
  background-color: #ff7315;
  width: 30%;
  margin-top: 50px;
  text-align: center;
}

.buttonAddQLKH:hover {
  background-color: #232020;
  color: white;
}
