.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.leftheader {
  display: flex;
  background-color: white;
  height: 34px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  width: 35%;
}

.leftheader > select {
  border: none;
  outline: none;
  margin-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding-right: 3px;
}

.leftheader > div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.leftheadersort {
  overflow: hidden;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin-top: -5px;
}

.leftheadersort i {
  color: #9795b4;
  font-size: 28px;
  margin-left: -12px;
  transform: scaleY(0.5);
  margin-top: -2px;
}

.leftheadersort i:nth-child(2) {
  display: none;
  margin-top: -9px;
}

.leftheadersearch {
  color: #9795b4;
  margin-left: 10px;
  cursor: pointer;
}

.leftheadersearch > div {
  display: flex;
  border-radius: 50px;
  border: 1px solid #eef0f5;
  height: 25px;
  align-items: center;
  width: 193px;
}

.leftheadersearch > div > i {
  margin-left: 10px;
}

.leftheadersearch > div input {
  outline: none;
  border: none;
  margin-left: 10px;
  width: 140px;
  margin-right: 12px;
}

.leftnextpage {
  display: flex;
  margin-top: -20px;
}

.leftnextpage > p {
  border: none;
  outline: none;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 13px;
  padding-right: 3px;
  margin: auto;
  color: #b8b8c8;
  position: absolute;
  top: 35px;
  right: 0px;
}

.leftnextpage > p > strong {
  color: #333333;
}

.leftnextpage button {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #9795b4;
}

.leftnextpage ul {
  display: flex;
  list-style: none;
}

.leftnextpage ul li {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 11px;
  font-family: sans-serif;
  box-shadow: 0 0 black;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  color: #9795b4;
}

.leftnextpage ul li:nth-child(1) {
  background-color: #4162fb;
  color: white;
  box-shadow: 0 3px 5px #90a3ff;
}

.maindiv2 {
  margin-top: 20px;
}

.leftheadersearch > div {
  display: none;
}

.maindiv2header {
  display: flex;
  margin-bottom: 15px;
  margin-top: 30px;
}

.maindiv2header p {
  color: #78909c;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.itemdiv2 {
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.itemdiv2 > p {
  color: #5e6467;
  font-family: sans-serif;
  font-size: 12px;
  width: 120px;
}

#div2 {
  width: 96%;
  margin: auto;
  display: flex;
  margin-top: 70px;
  position: relative;
  flex-direction: column;
}
.leftnextpage .none {
  box-shadow: none !important;
  background-color: #f5f5fa;
}

.header > button {
  border: none;
  outline: none;
  padding: 7px 0px;
  width: 170px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 13px;
  color: white;
  cursor: pointer;
  position: absolute;
  background-color: #4162fb;
  color: white;
  left: 410px;
  top: 3px;
  box-shadow: 14px 15px 35px 3px #2141d65e;
}

.header > button:nth-child(4) {
  left: 590px;
  box-shadow: 14px 15px 35px 3px #d0d2d4d6;
  background-color: #fafafa !important;
  color: #c5cbd5 !important;
}

.header > button > i {
  margin-right: 5px;
}

.item label {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.42857143;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #d3dbdf;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
}

.item label input {
  position: absolute;
  top: -6px;
  left: -2px;
  width: 20px;
  height: 20px;
  margin: 4px 0 0;
  line-height: normal;
  box-sizing: border-box;
  padding: 0;
  display: block;
}

.item {
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative;
}

.itemhdd {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.itemhdd img {
  width: 30px;
}

.item > p {
  color: #5e6467;
  font-family: sans-serif;
  font-size: 12px;
  width: 120px;
}

.itemname {
  width: 170px !important;
  margin-left: 10px;
}

.tableitemicon:nth-child(3) {
  margin-left: 20px;
}

.tableitemicon {
  margin-right: 20px;
  margin-left: 30px;
}

.tableitemicon div:nth-child(2) {
  width: 21px;
  border-radius: 50%;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #2ca62d;
}

.tableitemicon div:nth-child(2) > i {
  color: #e3f8e3;
  font-size: 21px;
  transform: translateY(-0.5px) translateX(0px);
}

.tableitemicon div:nth-child(3) {
  width: 21px;
  border-radius: 50%;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f9cdd4;
}

.tableitemicon div:nth-child(3) > i {
  color: #ec3650;
  font-size: 15px;
  transform: translateY(-0.5px) translateX(0px);
}

.tableitemicon div:nth-child(1) {
  width: 23px;
  border-radius: 50%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ffe9d0;
}

.tableitemicon div:nth-child(1) i {
  color: #ff931b;
  transform: rotate(90deg);
  font-size: 22px;
  transform: translateX(0.5px);
}

.hoanthanh > div:nth-child(1) {
  display: none;
}

.hoanthanh > div:nth-child(3) {
  display: none;
}

.khonghoanthanh > div:nth-child(1) {
  display: none;
}

.khonghoanthanh > div:nth-child(2) {
  display: none;
}

.choxuly > div:nth-child(2) {
  display: none;
}

.choxuly > div:nth-child(3) {
  display: none;
}

p.itememail {
  width: 200px;
  margin-left: 10px;
}

p.itemtk {
  margin-left: 50px;
  width: 100px;
}

.itemsubmit {
  display: flex;
  cursor: pointer;
  margin-left: 20px;
  position: relative;
}

.itemsubmit > i {
  color: #b6c3c9;
  font-size: 5px;
  margin-left: 2px;
}

p.itemdate {
  width: 140px;
  margin-left: 40px;
}

p.itemphone {
  margin-left: 25px;
  width: 80px;
}

.itemsubmit > div {
  position: absolute;
  padding: 20px 40px 5px 15px;
  box-shadow: 17px 20px 14px 4px #dbdae4;
  background-color: white;
  border-radius: 5px;
  top: 24px;
  left: -59px;
  display: none;
  z-index: 1;
}

.itemsubmit > div > button {
  display: flex;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  color: #5e6467;
  font-family: sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.itemsubmit > div > button > i {
  color: #90a4ae;
  font-size: 17px;
  margin-right: 10px;
  margin-top: -3px;
}

.maindiv2header > button {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: white;
  color: #97a9b3;
  cursor: pointer;
  margin-top: -15px;
  transform: translateY(10px);
}

.maindiv2header > p:nth-child(2) {
  margin-left: 70px;
  width: 180px;
}

.maindiv2header > p:nth-child(3) {
  width: 222px;
}

.maindiv2header > p:nth-child(4) {
  width: 131px;
}

.maindiv2header > p:nth-child(5) {
  width: 130px;
}

.maindiv2header > p:nth-child(6) {
  width: 71px;
}

.maindiv2header > p:nth-child(7) {
  width: 81px;
}

.tableitemicon div:nth-child(2) > i {
  color: rgb(227, 248, 227);
  font-size: 21px;
  transform: translateY(-0.5px) translateX(0px);
}

#div1{
  display: none;
}
