
.changepassword2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    transition: all 0.3s ease-in-out;
    transform: scaleY(1);
}

.hiddenchangepassword2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
}

.mainchangepassword2 {
    width: 600px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -250px;
    z-index: 3;
    background-color: white;
    position: absolute;
    box-shadow: 0 0 20px 0px #191818;
}

.changepasswordtitle2 {
    text-align: center;
    font-family: sans-serif;
    color: #ff7315;
    font-weight: bold;
    font-size: 22px;
    margin-top: 50px;
}

.changepasswordtitle2 i {
    margin-right: 5px;
    font-size: 25px;
}

.changepasswordsuccess2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.changepasswordsuccess2 p:nth-child(1) {
    color: #36363f;
    font-weight: bold;
    font-size: 18px;
}

.changepasswordsuccess2 p:nth-child(2) {
    color: #5e6477;
    font-size: 14px;
    text-align: center;
    width: 350px;
    margin-top: 10px;
}

.changepasswordsuccess2 p:nth-child(2) img {
    width: 20px;
    transform: translateY(-3px);
}

.changepasswordsuccess2 button {
    color: white;
    background-color: #ff7315;
    border: none;
    border-radius: 3px;
    width: 350px;
    height: 40px;
    margin-top: 30px;
    font-size: 14px;
}
.changepasswordsuccess2 .hienxoa{
    background-color: #8c847e;
}
.changepasswordsuccess2 .formxoa {
    width: 456px;
}