.containerQLBL {
  width: 100%;
  padding-bottom: 50px;
}

.navbar-fixed-header {
  width: 100%;
  height: 150px;
}

.qlblHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.qlblTitle {
  color: #232020;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 0px;
}

.qlblLine {
  width: 100%;
  border-bottom: 1px solid #232020;
}

p.qlblContentTitle {
  font-size: 15px;
  color: #6b778d;
  font-family: "Lato", sans-serif;
}

#week {
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
  outline: none;
  border: none;
  width: 250px;
  height: 60px;
  border-radius: 5px;
  justify-content: right;
  padding: 0px 20px;
  margin-top: -5px;
  font-size: 15px;
}

.div-search-qlbl {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 80px;
}

.div-search-qlbl label {
  color: #6b778d;
  margin: auto 0;
  margin-right: 20px;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}
.div-search-qlbl input {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
  border: none;
  outline: none;
  border-radius: 5px;
  width: 250px;
  height: 41px;
  padding: 0 20px;
}

.group-table {
  display: flex;
  justify-content: space-between;
}

.group-table .table-1 {
  width: 65%;
}
.group-table .table-2 {
  max-height: 958px;
  width: 33%;
  box-shadow: inset 0 0.5em 0px 0px rgb(255 255 255),
    inset 9px 19px 20px 0px rgb(0 0 0);
  background-color: #232020;
  border-radius: 5px;
  padding: 0px 10px 50px 10px;
}

.table-2 .title {
  color: white;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: 50px;
  text-align: center;
}

.table-2 .line {
  border: 1px solid #ff7315;
  width: 80%;
  margin: auto;
}

.table-2 span.addCata {
  color: #232020;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
  cursor: pointer;
  background-color: white;
}

.table-2 span.addCata:nth-child(2) {
  color: #6b778d;
}

.table-2 .addCata {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.table-2 .addCata:hover {
  background-color: #ff7315;
  color: white;
}

.qlbl-content-table {
  font-family: "Lato", sans-serif;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
}

.qlbl-content-table thead tr {
  background-color: #ff7315;
  color: #ffffff;
  font-weight: bold;
}

.qlbl-content-table th,
.qlbl-content-table td {
  padding: 15px 15px;
}

.qlbl-content-table tbody tr:nth-of-type(even) {
  background-color: #f4f4f4;
}

.qlbl-content-table tbody tr:last-of-type {
  border-bottom: 2px solid #ff7315;
}

.qlbl-content-table tbody tr:hover {
  color: #ff7315;
}

.qlblRemove,
.qlblEdit {
  padding: 10px 12px;
  font-size: 20px;
  margin-left: -5px;
  background-color: #ff7315;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.qlblEditt {
  padding: 10px 17px;
  font-size: 20px;
  margin-left: -5px;
  background-color: #ff7315;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.table-2 .qlblRemove,
.table-2 .qlblEdit {
  padding: 10px 12px;
  font-size: 20px;
  margin-left: -5px;
  background-color: #232020;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.table-2 .qlblEditt {
  padding: 10px 17px;
  font-size: 20px;
  margin-left: -5px;
  background-color: #232020;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.qlblRemove:hover,
.qlblEdit:hover,
.qlblEditt:hover {
  background-color: #232020;
}

.table-2 .qlblRemove:hover,
.table-2 .qlblEdit:hover,
.table-2 .qlblEditt:hover {
  background-color: #ff7315;
}

.movepage-next {
  display: flex;
  width: 100%;
  justify-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.table-2 .movepage-next {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.table-2 .movepage-next p {
  margin-bottom: 30px;
}

.movepage-next p {
  font-size: 15px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

.movepage-next ul {
  display: flex;
  background-color: #232020;
  height: 40px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
  padding: 0px;
  overflow: hidden;
  margin-top: -7px;
}

.movepage-next ul li a {
  color: white;
  padding: 20px 20px;
  cursor: pointer;
}

.movepage-next ul li:hover {
  background-color: #ff7315;
  padding: 20px 0px;
}

.movepage-next li:nth-child(1) a {
  color: #6b778d;
}

.movepage-next li:nth-child(2) a {
  background-color: #ff7315;
}

.movepage-next li:nth-child(1):hover {
  background-color: #232020;
  padding: 20px 0px;
}

.movepage-next p {
  font-size: 15px;
  color: #6b778d;
  font-family: "Lato", sans-serif;
}

.table-2 .movepage-next p {
  font-size: 15px;
  color: white;
  font-family: "Lato", sans-serif;
}

.table-2 .movepage-next ul {
  display: flex;
  background-color: white;
  height: 40px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
  padding: 0px;
  overflow: hidden;
  margin-top: -7px;
}

.table-2 .movepage-next ul li a {
  color: #232020;
  padding: 20px 20px;
  cursor: pointer;
}

.table-2 .movepage-next ul li:hover {
  background-color: #ff7315;
  padding: 20px 0px;
}

.table-2 .movepage-next ul li:hover a {
  color: white;
}

.table-2 .movepage-next li:nth-child(1) a {
  color: #6b778d;
}

.table-2 .movepage-next li:nth-child(2) a {
  background-color: #ff7315;
  color: white;
}

.table-2 .movepage-next li:nth-child(1):hover {
  padding: 20px 0px;
  background-color: white;
  color: #6b778d;
}

.table-2 .movepage-next li:nth-child(1):hover a {
  color: #6b778d;
}

.hidden-div-help {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 11;
  transition: all ease 1s;
  transform: scaleY(0);
}

.hidden-div-help-2 {
  background-color: black;
  opacity: 0.7;
  z-index: 12;
  position: fixed;
  width: 100%;
  height: 100%;
}

.hidden-div-help .yes-no-question {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 13;
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  margin-left: -200px;
  margin-top: -75px;
  text-align: center;
  box-shadow: 0 0.5em 1em -0.125em rgb(249 190 151), 0 0 0 1px rgb(255 255 255);
  transform: scaleY(0);
  transition: all 0.5s ease;
}

.hidden-div-help .yes-no-question .lineYesNoQuestion {
  border: 1px solid #ff7315;
  width: 80%;
  margin-left: 10%;
  margin-top: -10px;
}

.hidden-div-help .yes-no-question p {
  margin-top: 30px;
  color: #232020;
  font-size: 18px;
}

.hidden-div-help .yes-no-question div {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: auto;
  margin-top: 25px;
}

.hidden-div-help .yes-no-question span {
  background-color: #232020;
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em 0em rgb(175 175 175), 0 0 0 0.2px rgb(111 111 111);
}

.hidden-div-help .yes-no-question span:hover {
  background-color: #ff7315;
}

.form-edit-qlbl {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 13;
  width: 800px;
  height: 520px;
  background-color: white;
  border-radius: 10px;
  margin-left: -400px;
  margin-top: -260px;
  text-align: center;
  box-shadow: 0 0.5em 1em -0.125em rgb(249 190 151), 0 0 0 1px rgb(255 255 255);
  transform: scaleY(0);
  transition: all 0.5s ease;
}

.form-edit-qlbl h1 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}

.form-edit-qlbl div:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}

.form-edit-qlbl div:nth-child(2) input {
  margin-top: -13px;
}
.form-edit-qlbl div:nth-child(3) input {
  margin-top: -13px;
}
.form-edit-qlbl div:nth-child(4) input {
  margin-top: -13px;
}

.form-edit-qlbl div:nth-child(3) {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
}
.form-edit-qlbl div:nth-child(4) {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
}

.form-edit-qlbl div:nth-child(5) {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}

.form-edit-qlbl div:nth-child(5) label {
  margin-top: 10px;
}

.form-edit-qlbl label {
  font-weight: bold;
  width: 160px;
  text-align: left;
}

.form-edit-qlbl div input {
  border: none;
  outline: none;
  box-shadow: 0 0.5em 1em -0.125em rgb(39 39 39), 0 0 0 1px rgb(255 255 255);
  padding: 10px 20px;
  border-radius: 5px;
  width: 500px;
}

.form-edit-qlbl div:nth-child(5) textarea {
  width: 505px;
  height: 90px;
  box-shadow: 0 0.5em 1em -0.125em rgb(39 39 39), 0 0 0 1px rgb(255 255 255);
  outline: none;
  border: none;
  margin-top: -20px;
  display: flex;
  border-radius: 5px;
  padding: 18px;
  margin-left: 5px;
}

.form-edit-qlbl div:nth-child(6) {
  font-display: flex;
  margin-top: 50px;
  width: 60%;
  float: right;
}

.form-edit-qlbl div:nth-child(6) span {
  box-shadow: 0 0.5em 0.5em 0em rgb(175 175 175), 0 0 0 0.2px rgb(111 111 111);
  padding: 14px 50px;
  margin-left: 20px;
  color: white;
  background-color: #232020;
  cursor: pointer;
}

.form-edit-qlbl div:nth-child(6) span:hover {
  background-color: #ff7315;
}

.form-inf-qlbl {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 13;
  width: 800px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
  margin-left: -400px;
  margin-top: -225px;
  text-align: center;
  box-shadow: 0 0.5em 1em -0.125em rgb(249 190 151), 0 0 0 1px rgb(255 255 255);
  transform: scaleY(0);
  transition: all 0.5s ease;
}

.form-inf-qlbl h1 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}

.form-inf-qlbl div:nth-child(2) {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.form-inf-qlbl div:nth-child(3) {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.form-inf-qlbl div:nth-child(4) {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.form-inf-qlbl div:nth-child(5) {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.form-inf-qlbl div:nth-child(5) label {
  font-weight: bold;
  width: 270px;
  text-align: left;
}

.form-inf-qlbl div:nth-child(5) p:nth-child(2) {
  text-align: left;
  margin-left: 49px;
}

.form-inf-qlbl div p:nth-child(1) {
  font-weight: bold;
  width: 200px;
  text-align: left;
}

.form-inf-qlbl div p:nth-child(2) {
  color: #6b778d;
}

.form-inf-qlbl div:nth-child(6) {
  font-display: flex;
  margin-top: 40px;
  width: 60%;
  float: right;
}

.form-inf-qlbl div:nth-child(6) span {
  box-shadow: 0 0.5em 0.5em 0em rgb(175 175 175), 0 0 0 0.2px rgb(111 111 111);
  padding: 14px 50px;
  margin-left: 20px;
  color: white;
  background-color: #232020;
  cursor: pointer;
}

.form-inf-qlbl div:nth-child(6) span:hover {
  background-color: #ff7315;
}

.table-1 .line {
  border: 1px solid #ff7315;
  width: 80%;
  margin: auto;
}

.table-1 .title {
  color: #232020;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: -27px;
  text-align: center;
}

.table-1 .addSanPham:hover {
  background-color: #232020;
  color: white;
}
.table-1 span.addSanPham {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
  cursor: pointer;
  background-color: #ff7315;
}
.table-1 .addSanPham {
  display: inline-block;
  margin-top: 50px;
  width: 47%;
  text-align: center;
}

.table-1 .deleteAll {
  display: inline-block;
  margin-top: 50px;
  width: 47%;
  text-align: center;
  color: #6b778d;
  background-color: #f4f4f4;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0), 0 0 0 1px rgb(255 255 255);
  cursor: pointer;
  text-align: center;
}

.checkTable {
  background-color: #ff7315 !important;
  display: inline-block;
  margin-top: 2px;
}

.qlbl-content-table th:nth-child(1),
.qlbl-content-table td:nth-child(1) {
  padding: 15px 0px;
}

.table-2 .checkTable {
  background-color: #232020 !important;
}

.headerTable1-button {
  display: flex;
  justify-content: space-between;
}

.table-1 th {
  background-color: #232020 !important;
}

.table-2 th {
  background-color: #ff7315;
}

.table-1 img {
  width: 100px;
  height: 100px;
}

.table-1 .qlbl-content-table th,
.table-1 .qlbl-content-table td {
  padding: 10px 10px;
  text-align: center;
}

.table-1 .qlbl-content-table td:nth-child(5) {
  width: 140px;
}

.table-2 .qlbl-content-table th,
.table-2 .qlbl-content-table td {
  padding: 15px 9px !important;
}


table th {
  border-left: 1px solid white;
}

table tr td {
  border-left: 1px solid #f4f4f4;
}

table tr:nth-of-type(even) td {
  border-left: 1px solid white;
}

table{
  text-align: center;
}

