<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <servlet>
        <servlet-name>AddAccountController</servlet-name>
        <servlet-class>controllerAdmin.addAccount.AddAccountNVKController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAccountController</servlet-name>
        <url-pattern>/them-tai-khoan-nhan-vien-kho</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddAccountKHController</servlet-name>
        <servlet-class>controllerAdmin.addAccount.AddAccountKHController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAccountKHController</servlet-name>
        <url-pattern>/them-tai-khoan-khach-hang</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddAccountNVVCController</servlet-name>
        <servlet-class>controllerAdmin.addAccount.AddAccountNVVCController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAccountNVVCController</servlet-name>
        <url-pattern>/them-tai-khoan-nhan-vien-van-chuyen</url-pattern>
    </servlet-mapping>



    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>